body {
  background-image: radial-gradient(ellipse  60% 60%, #000b69, #000b69 25%, transparent 30%), radial-gradient(ellipse  30% 30%, #0077df, #0077df 32%, #00368d 20%);
  background-size: 2em 2em, 6em 6em;
}

.wall-tile {
  outline: #898989 solid 1px;
  background: #999999;
}

.fake-wall-tile {
  outline: #898989 solid 1px;
  background: #A9A9A9;
}

.fake-wall-tile:hover {
  outline: #c5c5c5 solid 1px;
  background: #cecece;
}

.space-tile {
  outline: #DFDFDF solid 1px;
  background: #EEEEEE;
}

.rock-tile, .locked-rock-tile {
  border: #AFAFAF solid 1px;
  background: #BFBFBF;
  border-radius: 20%;
  width: 22px;
  height: 22px;
  margin: auto; 
}

.rock-tile:hover {
  border: #BFBFBF solid 1px;
  background: #CFCFCF;
}

.locked-rock-tile, .locked-rock-tile:hover {
  background: #909090;
  border: #858585 solid 1px;
}

.target-tile {
  background: #FFDFDF;
  font-family: Courier, monospace;
  font-weight: bold;
  font-size: x-large;
  user-select: none;
}

.tile {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 30px;
  height: 30px;
}

.player-tile {
  align-self: center;
  align-items: center;
  outline: #DFDFDF solid 1px;
  background: #EFEFEF;
  box-sizing: border-box;
  display: grid;
  text-align: center;
  width: 30px;
  height: 30px;
}

.player-tile:hover {
  background: #CCFFCC;
}

.player-head {
  margin: auto;
  outline: #EBAEAE solid 1px;
  background: #F5C1C1;
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.player-body {
  margin: auto;
  outline: #AAAAFF solid 1px;
  background: #BBBBFF;
  width: 12px;
  height: 15px;
  border-radius: 18% 18% 0% 0%;
}

.board {
  display: grid;
  grid-template-columns: repeat(20, 30px);
  align-self: center;
  align-items: center;
  text-align: center;
}

.info {
  height: 100px;
  text-align: center;
  font-size: large;
}

.default-bg {
  background: #f0f0f0;
  border-radius: 8px;
  margin-bottom: 5px;
  border: #b6b6b6 solid 2px;
}

.scoreboard-item {
  border-radius: 8px;
  margin-bottom: 7px;
}

.gold {
  background: #ffe924;
  border: #d1bf1d solid 2px;
}

.silver {
  background: #c2c2c2;
  border: #979797 solid 2px;
}

.bronze {
  background: #a16e00;
  border: #724e00 solid 2px;
}

.scoreboard-default {
  background: #f0f0f0;
  border: #b6b6b6 solid 2px;
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}